<link rel="stylesheet" href="{{ asset("build/css/footer.css")}}" />

<footer id="footer" class="uk-position-bottom uk-position-z-index">
    <div class="uk-position-center">
        <a href="{{ path("app_home") }}">
            <img src="{{ asset("images/New_Logo_CCIF_rouge.png") }}">
        </a>
    </div>
</footer>
